
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto;
}
table{
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid black;
}
input:focus {
  background-color: lightgrey;
}