
body {
background-size: 100%;
}
table{
  opacity: 0.75;
  background-color: white;
  border-collapse: collapse;
  border: 3px solid black;
}
table:empty {
  visibility: hidden;
}
#currentTable {
  float: left;
  padding: 10px;
  margin: 30px;
  width:30%;
}
#tableWeather {
  float: left;
  padding: 10px;
  margin: 30px;
  width:30%;
}
#queriedTable {
  float: left;
  padding: 10px;
  margin: 30px;
  width:30%;
}
th {
  text-align: left;
  padding: 5px;
}
input:focus {
  background-color: lightgrey;
}
caption, label {
  font-size: 30px;
  color:white;
}
th:nth-child(even) {
  background-color: #f2f2f2
}

input[type=text] {
  width : 100%;
  border: 1px solid #333;
  margin: 0;
  font-size: 90%;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  outline: none;
}